<!DOCTYPE html>
<html>
    <head>
        <title>Bowling Alley Information</title>
    </head>
    <body>
        <h1>Hours of Operation</h1>
        <p>M - F 9am - 9pm</p>
    </body>
</html>