<!DOCTYPE html>
<html>
    <head>
        <title>Bowling Alley Information</title>
    </head>
    <body>
        <h1>Hours of Operation</h1>
        <p>This is the info page: here's some information about me!</p>
    </body>
</html>